*.idea
*.DS_Store*
Vagrantfile

*.pyc
.env

*.log
*.sqlite*
*.vscode/*.json
*.vscode/.*

node_modules
/.pnp
.pnp.js
.npmrc

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

local_archive/*
my_local.py

dist/
build/
kudzu.egg-info
heartbeater.log*

*kudzu.env*

kudzu_project/kudzu_app/static/**

mysql_vol/*

*.tar.gz
.python-version
env/

kudzu_project/db-backup.json

devbox.json
