.idea
*.DS_Store*
Vagrantfile

*.pyc
.env

*.log
*.sqlite*
*.vscode/*.json
*.vscode/.*

node_modules
/.pnp
.pnp.js
.npmrc
yarn.lock

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.tar.gz
.python-version
env/
